<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/bootswatch.css">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-md  navbar-default">

                <a class="navbar-brand" href="#">KivuPaints</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                  <span style="">Menu</span>
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav float-right">
                    <li class="">
                      <a class="nav-link" href="/">ACCEUIL</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">A PROPOS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">SECTIONS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contacts">CONTACTEZ-NOUS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/events">EVENEMENTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/inscription">PRE-INSCRIPTION</a>
                    </li>
                  </ul>
                  <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                      aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                </div>
              </nav>
    <script src="../public/bootstrap/js/jquery.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>