<% include header %>
<div class="ui fixed inverted emnu">
    <a href="/" class="header item">Accueil</a>
</div>


<form action="/" method="post" class="form">
    <div class="form-group">
        <label for="message">Message</label>
        <textarea name="message" id="message" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
        <i >Envoyez</i>
    </button>
</form>
<div class="row">
    <h3>Commentaires</h3>
    <hr>
    <hr>
    <div class=" row well">
            <% for (message of messages) {%>
                <div style="margin: 10px" class="row">
                    <a href="message/<%= message.id %>">
                    <img src="/assets/images/userdefault.png" alt="" class="col-lg-1">
                    </a>
                    <div class="col-lg-10" style="margin-top: 10px"><%= message.created_at.fromNow() %></div>
                    <label for="" class="col-lg-10"><%=message.content%></label>
                </div>
            <%}%>

    </div>
    
</div>
<% include footer%>