<% include ../partials/navbar%> <% include ../partials/messages%>

<form class="form-horizontal" method="POST" action="/products">
  <fieldset>
    <legend>Ajouter un produit</legend>
    <% include ../partials/messages%>
    <div class="form-group">
      <label class="col-lg-2 control-label">Nom</label>
      <div class="col-lg-10">
        <input
          name="name"
          type="text"
          class="form-control"
          id=""
          placeholder="Nom du produit"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Unite de mesure</label>
      <div class="col-lg-10">
        <select class="form-control" id="select" name="unity">
          <% for (const unity of unities){%>
          <option value="<%= unity.id%>"><%= unity.name%></option>
          <%}%>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Prix par unite</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          type="number"
          name="price"
          class="form-control"
          aria-label=""
          min="0"
          step=".01"
        />
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Detail</label>
      <div class="col-lg-10">
        <textarea
          class="form-control"
          rows="3"
          id="textArea"
          name="detail"
        ></textarea>
        <span class="help-block">Bref details sur le produit</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
